/*  */

.lightMood {
  --primary-color: #f8fcfc;
  --secondary-color: #ffffff;

  --c1-color: #0c131b1a;
  --sec-hover: #f3f3f3;
  --green: #e4f9f3;
  --green-txt: #3e9076;
  --yellow: #f9f8e5;
  --yellow-txt: #aa7a00;

  --head-color: #0c131b;
  --p-color-white: #070707;

  --p-txt-color: #0c131b99;
  --p-text-grey: #0b131b4d;

  /* ----sun--- */
  --control-sun: #000;
  --grey-txt: #fff;

  --control-moon: #f3f3f3;

  /* gradient color  */
  --linear-1: radial-gradient(
    circle at top,
    rgba(122, 118, 118, 0.986) 5%,
    #000000 50%
  );
  --linear-2: linear-gradient(
    to top,
    rgb(247, 241, 241),
    rgba(219, 214, 214, 0.329)
  );
  --linear-3: linear-gradient(to top, rgb(247, 241, 241), #1a1a1a);
  --filter: #f8fcfc21;

  --mr-lg: linear-gradient(to right, #ffffff81, transparent);
  --ml-lg: linear-gradient(to left, #ffffff81, transparent);

  /*others color*/
  --scrollbar-color: #9097a2;
  --scrollbar-thump: #3a3e45;
  --scrollbar-hover: #272a2f;
}

:root {
  /* background color  */
  --primary-color: #000000;
  --secondary-color: #0f0f0f;

  --c1-color: #f0f0f01a;
  --sec-hover: #1a1a1a;
  --green: #081d16;
  --green-txt: #3e9076;
  --yellow: #1d1b08;
  --yellow-txt: #aa7a00;

  --head-color: #f0f0f0;
  --p-color-white: #f3f3f3;
  --p-txt-color: #f0f0f099;
  --p-text-grey: #f0f0f04d;

  /* --sun--  */
  --control-sun: #0000006e;
  --grey-txt: #f0f0f0c4;

  --control-moon: #fff;

  /* gradient color  */

  --linear-1: radial-gradient(
    circle at top,
    rgba(122, 118, 118, 0.986) 5%,
    #292727 50%
  );
  --linear-2: linear-gradient(to top, rgb(19, 18, 18), rgba(0, 0, 0, 0.384));
  --linear-3: linear-gradient(to top, #0a0a0a, #1a1a1a);
  --filter: #0000002d;

  --mr-lg: linear-gradient(to right, #000, transparent);
  --ml-lg: linear-gradient(to left, #000, transparent);

  /*others color*/
  --scrollbar-color: #263040;
  --scrollbar-thump: #84b0f5;
  --scrollbar-hover: #6f89b6;

  /* transition  */
  --transition-1: 0.2s ease;
  --transition-2: 0.3s ease;
  --transition-3: 0.5s ease;

  /* fontsize  */
  --font-h1: 2rem;
  --font-h2: 1.5rem;
  --font-h3: 1.375rem;

  --font-18: 1.125rem;
  --font-16: 1rem;
  --font-14: 0.875rem;

  /* z-index  */
  --z-minus: -1;
  --z-zero: 0;
  --z-low: 1;
  --z-high: 10;
  --z-100: 100;
  --z-tooltop: 1000;
  --z-fix: 1100;
  --z-overlay: 1110;
  --z-modal: 1990;
  --z-max: 9999;
}

/* ----------------------------------------
       ============= reset css  ==============
       -------------------------------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

a,
img,
input,
button,
i {
  display: block;
  text-transform: capitalize;
}
button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  width: fit-content;
}
.btn {
  max-width: 100%;
  width: fit-content;
  cursor: pointer;

  text-align: center;
  border-radius: 10px;
  padding: 8px 25px;
  transition: all 0.4s ease-in-out;
  text-transform: capitalize;
  overflow: hidden;
  outline: 0;
  background: var(--linear-1);
}
.primary-btn {
  color: var(--control-moon);
  position: relative;
}

a {
  text-decoration: none;
}
img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}
body {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow-x: hidden;
  color: var(--p-color-white);
  animation: fadeed 0.5s ease-in-out;
  font-family: "Inter", sans-serif;
  background: var(--primary-color);
}

@keyframes fadeed {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes wiggle {
  0%,
  5% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(15deg);
  }
  25% {
    transform: rotateZ(-15deg);
  }
  30% {
    transform: rotateZ(10deg);
  }
  35% {
    transform: rotateZ(-15deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

h1 {
  font-size: var(--font-h1);
}
h2 {
  font-size: var(--font-h2);
}
h3 {
  font-size: var(--font-h3);
}
/* h4{
      font-size: var(--font-h4);
     }
     h5{
      font-size: var(--font-h5);
     } */
h1,
h2,
h3,
h4,
h5 {
  width: 100%;
  font-family: "Inter", sans-serif;
}
.font-18 {
  font-size: var(--font-18);
  line-height: 27px;
}
.font-16 {
  font-size: var(--font-16);
  line-height: 25px;
}
.font-14 {
  font-size: var(--font-14);
}

/* ==========================================================
 =====================ID section customizing=============== 
============================================================ */
#hero,
#work,
#spotlight,
#side-project,
#validation,
#tool,
#footer,
#projectBody,
#shopBody,
#writingBody,
#bookBody,
#songBody,
#toolBody,
#aboutBody #linkBody,
#journeyBody {
  position: relative;
  max-width: 100%;
  margin: 8% 0;
}
#work h2,
#spotlight h2,
#side-project h2,
#validation h2,
#tool h2,
#footer h2,
#projectBody h2,
#shopBody h2,
#writingBody h2,
#bookBody h2,
#songBody h2,
#toolBody h2,
#journeyBody h2 {
  max-width: 100%;
  padding: 15px;
  color: var(--head-color);
  text-transform: capitalize;
}

#projectBody .font-16,
#shopBody .font-16,
#writingBody .font-16,
#bookBody .font-16,
#songBody .font-16,
#toolBody .font-16,
#journeyBody .font16 {
  padding: 5px 15px;
  color: var(--p-txt-color);
  text-align: left;
}

/* ============----page scroll bar-----============== */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  overflow: hidden;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: var(--scrollbar-thump);
  transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  opacity: 0.6;
  background: var(--scrollbar-hover);
}

@keyframes wiggle {
  0%,
  5% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-2deg);
  }
  20% {
    transform: rotateZ(2deg);
  }
  25% {
    transform: rotateZ(-2deg);
  }
  30% {
    transform: rotateZ(1deg);
  }
  35% {
    transform: rotateZ(-2deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

/* ----------------------toolTips========================= */
#tool-tip {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: fit-content;
  padding: 5px;
  height: auto;
  background: #fdfdfd;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  border: 1px solid var(--p-text-grey);
  cursor: pointer;
  z-index: 9999;
  transition: var(--transition-2);
}
#tool-tip:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#tool-tip a {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 2px 10px;
}
#tool-tip a img {
  width: 25px;
}
#tool-tip a p {
  color: #000;
  font-size: 12px;
  font-weight: 700;
}

/* =====================cursor customizing=============== */
/* =====================controll customizing=============== */
#control {
  position: fixed;
  top: 25px;
  right: 5%;
  padding: 2px 4px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid #46434313;
  border-radius: 40px;
  background: var(--sec-hover);
  z-index: 999;
  transition: var(--transition-1);
}
#control i {
  font-size: var(--font-16);
  padding: 10px;
  border: 1px solid #22222228;
  border-radius: 50%;
  transform: rotate(0);

  cursor: pointer;
  transition: 1s ease;
  box-shadow: rgba(37, 37, 37, 0.2) 0px 8px 24px;
}
#control i:hover {
  transform: rotate(20deg);
}
#control .sun {
  background: var(--control-sun);
  color: var(--grey-txt);
}
#control .moon {
  background: var(--control-moon);
  color: var(--control-sun);
}
#menu {
  position: fixed;
  top: 41px;
  right: -100%;
  z-index: 100;

  transform: translateY(-50%);
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--control-moon);
  cursor: pointer;
  transition: var(--transition-2);
  border: 1px solid rgba(51, 51, 50, 0.404);
  border-radius: 50%;
}
#menu .openMenu {
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  transition: var(--transition-1);
  border-radius: 5px;
}
.openMenu .m1,
.openMenu .m2 {
  width: 15px;
  display: block;
  height: 2px;
  background: #000;
  border-radius: 20px;
}
#navigation .closeMenu {
  font-size: var(--font-18);
  max-width: 100%;
  position: absolute;
  top: 10px;
  right: 8px;
  color: #000;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
  transition: var(--transition-1);
  display: block;
}
.closeMenu:hover {
  transform: rotate(45deg);
  background: #000;
}
#navigation {
  position: fixed;
  top: 20px;
  border-radius: 10px 10px 10px 10px;
  right: -100%;
  width: 250px;
  height: auto;
  background: var(--sec-hover);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border: 1px solid #00000052;
  z-index: 1000;
  transition: var(--transition-3);
}

/* ======================section customization=============== */

nav .main-link.active,
.main-link2.active {
  background: var(--p-color-white);
  border: 1px solid #c5b9b917;
  color: var(--primary-color);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

section.sectionPanel {
  display: none;
}
.sectionPanel.active {
  display: block;
  animation: fadeed 0.5s ease-in-out;
}
/* =====================others=========================== */
.container {
  max-width: 100%;
  padding: 0.5% 10%;
  margin: 0 1%;
}
section {
  margin: 8% 20% 5%;
  max-width: 100%;
  position: relative;
  transition: var(--transition-1);
}

/* <!-- =================================================
    --------------Header start here------------------
    =================================================   --> */
header {
  max-width: 100%;
  position: relative;
}
.head {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 4%;
  width: 65px;
  height: 50vh;
  z-index: 100;
  border-radius: 30px;
  background: var(--sec-hover);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border: 1px solid #00000013;
  transition: var(--transition-3);
  cursor: pointer;
  overflow: hidden;
  animation: fadeed 0.5s ease-in-out;
}
.head:hover {
  width: fit-content;
  height: auto;
  margin: 5px auto;
  border-radius: 10px;
  animation: fadeed 0.5s ease-in-out;
}
.head:hover .icon-bar {
  left: -15%;
  color: var(--sec-hover);
}
.head:hover .icon-bar i {
  opacity: 0;
}
.head .icon-bar {
  max-width: 100%;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: var(--transition-2);
  z-index: 2;
}
.icon-bar i:hover {
  color: var(--scrollbar-hover);
}
.icon-bar i {
  font-size: var(--font-h3);
  color: var(--p-txt-color);
  transition: var(--transition-3);
}
.head:hover nav {
  display: flex;
}
.navLinks {
  max-width: 100%;
  margin-top: 25px;
  width: 100%;
  padding: 10px;
  position: relative;
  z-index: 2;

  flex-direction: column;
  justify-content: center;
  animation: fadeed 0.5s ease-in-out;

  transition: var(--transition-3);
}

nav {
  max-width: 100%;
  width: 250px;
  padding: 10px;

  position: relative;

  flex-direction: column;
  justify-content: center;
  animation: fadeed 0.5s ease-in-out;

  display: none;
  transition: var(--transition-3);
}
#navigation .navLinks a {
  margin-top: 5px;
  border: 1px solid #0000001a;

  padding: 5px 10px;
  z-index: 2;
}
nav .main-link,
.navLinks a {
  max-width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px;
  gap: 8px;
  cursor: pointer;
  border: 1px solid var(--c1-color);
  border-radius: 10px;
  padding: 8px 10px;
  transition: var(--transition-2);
  color: var(--p-txt-color);
}

/* ======================== */
nav .main-link i {
  font-size: var(--font-h3);
}
nav a .font-16,
.navLinks a .font-16 {
  margin-top: 2px;
  margin-left: 12px;
  font-weight: 600;
  display: block;
  transition: var(--transition-1);
}
nav a:hover .font-16,
.navLinks a:hover .font-16 {
  margin-left: 8px;
}

nav a:hover,
.navLinks a:hover {
  background: var(--p-color-white);
  border: 1px solid #c5b9b917;
  color: var(--primary-color);
  opacity: 0.6;
}
#navigation:hover .nav-icons i {
  padding: 5px;
  font-size: var(--font-h3);
}
#navigation:hover .nav-icons {
  opacity: 1;
  left: -48%;
  transform: translateY(-50%);
}
.nav-icons {
  width: 150px;
  position: absolute;
  top: 50%;
  opacity: 0;

  transform: translateY(-50%);
  left: 0;
  z-index: 1;
  height: 300px;
  background: transparent;
  transition: var(--transition-3);
  border-radius: 50% 0 0 50%;
}
.nav-icons i {
  padding: 0px;
  width: fit-content;
  border-radius: 50%;
  font-size: 2px;
  cursor: pointer;
  display: block;
  max-width: 100%;
  position: absolute;
  box-shadow: rgba(219, 208, 208, 0.24) 0px 3px 8px;
  transition: 1s ease;
  transform: scale(1);
  color: #fff;
}
.nav-icons i:hover {
  transform: scale(1.1);
}
.linkedin {
  background: #0882bd;
  top: 30px;
  right: 40px;
}
.dribbble {
  background: #ee4f8d;
  top: 70px;
  left: 10px;
}
.behance {
  background: #081324;
  top: 50%;
}
.twiiter {
  background: #080808;
  bottom: 60px;
  right: 50px;
}

/* <!-- =============================================
    ----==============mainstart here==============----
    ============================================= --> */
main {
  position: absolute;
  top: 20%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transition-2);
}

/* ====================================heroSection==========================  */
#hero {
  box-shadow: rgba(9, 6, 24, 0.15) 0px -10px 40px 0px;
  border-radius: 20px 10px 20px 10px;
}
#hero .hero-img,
.link-hero .hero-img {
  width: 70px;
  display: block;
  margin: 5% 0 3%;
  height: 70px;
  padding: 15px;
  border-radius: 50%;
  background: var(--secondary-color);
  animation: wiggle 5s linear infinite;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 10px;

  cursor: pointer;
}

.hero-img .face {
  transform: rotate(0) scale(1);
  transition: var(--transition-2);
}
.hero-img .face:hover {
  transform: rotate(-7deg) scale(1.1);
}
.hero-card {
  width: 100%;
  height: auto;
}
.hero-card:hover .cursor {
  opacity: 1;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;

  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.2s ease-out;
  z-index: 9999;
}
.cursor img {
  width: 50px;
  transform: rotate(-45deg);
}

.cursor.hover {
  transform: translate(-50%, -50%) scale(2);
  background: rgba(255, 255, 255, 0.9);
}
.hero-card h1 {
  font-weight: 500;
  text-align: left;
  max-width: 100%;
  color: var(--head-color);
}
#dayName {
  color: rgb(4, 158, 247);
}
.hero-card .date {
  margin-bottom: 20px;
  display: flex;
  gap: 5px;
  color: var(--p-txt-color);
  margin-top: 10px;
  font-weight: 700;
  font-size: var(--font-14);
  text-transform: capitalize;
}
.hero-card .font-16 {
  color: var(--head-color);
  margin-bottom: 30px;
}
#hero a:hover {
  opacity: 0.8;
}
#hero a {
  margin-bottom: 25px;
}

/* ===============================marquee==============  */
.marquee {
  width: 85%;
  background: var(--primary-color);
  max-width: 100%;
  padding: 15px 35px 50px;
  margin: 0 auto;
  z-index: 2;

  position: relative;
  transition: var(--transition-2);
  border-radius: 30px;
}

.marquee-card {
  background: var(--filter);
  position: absolute;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;

  transition: var(--transition-3);
}
.marquee-card p {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  margin-top: 40px;
  position: relative;
  color: var(--p-txt-color);
  font-weight: 700;
}
.marquee-card p::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 34%;
  border: 1px solid var(--p-text-grey);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--linear-3);
}
.marquee-card p::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 34%;
  border: 1px solid var(--p-text-grey);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--linear-3);
}
.valid-marquee {
  width: 100%;
  background: transparent;
  max-width: 100%;
  padding: 15px 5px;
  margin: 0 auto;
  z-index: 2;
  margin-bottom: 25px;
  position: relative;
  transition: var(--transition-2);
  height: auto;
}

.marquee:hover .marquee-card {
  z-index: 3;
  opacity: 1;
  border-radius: 20px;
}
.marquee::after,
.marquee::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}
.valid-marquee::after,
.valid-marquee::before {
  content: "";
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}
.valid-marquee::after {
  left: 0%;
  background: var(--mr-lg);
}
.valid-marquee::before {
  right: 0%;
  background: var(--ml-lg);
}

.marquee::before {
  left: 0%;

  background: var(--ml-lg);
}

.marquee::after {
  right: 0%;

  background: var(--mr-lg);
}
.marquee-track,
.valid-marque-truck {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
  transition: var(--transition-3);
}
.marquee-container,
.valid-mar-container {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
}
.marquee-track img {
  width: fit-content;
  border-radius: 20px;
  padding: 5px;
  transition: var(--transition-2);

  height: 40px;
  background: linear-gradient(to left, #fffdfd, #fff, #fffffff5);
  margin-right: 20px;
  transform: scale(0.9);
  z-index: 1;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* =====================work=========================== */
#work {
  margin-bottom: 25px;
  margin-top: -20px;
}

.nine-slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.nine-slider-container .nine-slider {
  display: flex;
  transition: var(--transition-2);
  gap: 20px;
  transition: transform 0.5s ease-in-out;
  position: relative;
  cursor: pointer;
}
.nine-slide {
  min-width: 100%;
  border-radius: 20px;
  background: var(--primary-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.5s ease;
  gap: 20px;
  margin-bottom: 25px;
}
.slide-image {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-2);
}
.slide-image:hover .slideImg2 {
  width: 85%;
}
.slide-image .slideImg {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: block;
  z-index: 1;
}
.slide-image .slideImg2 {
  position: absolute;
  z-index: 2;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  transition: var(--transition-3);
}
.slide-text {
  background-color: var(--primary-color);
  padding: 0 5px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  justify-content: flex-start;
  width: fit-content;
  margin-top: -10px;
}
.slide-text h4 {
  max-width: 100%;
  width: fit-content;
  color: var(--head-color);
}
.slide-text .font-16 {
  color: var(--p-color-white);
  opacity: 0.6;
}
.slide-text img {
  width: 40px;
}
.buttons {
  position: absolute;
  bottom: 11%;
  right: 5px;
  max-width: 100%;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  align-items: center;
}
.buttons span {
  background: var(--secondary-color);
  padding: 5px;
  border-radius: 50%;
  max-width: 100%;
  border: 1px solid var(--control-sun);
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: var(--font-14);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-2);
}
.nine-prev:hover,
.nine-next:hover {
  opacity: 0.8;
}

/* =====================sportlight=========================== */
#spotlight {
  margin-top: 0px;
}
.spotlight-container {
  max-width: 100%;
  margin-top: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  transition: var(--transition-2);
}
.spotlight-container .spotlight-card {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  height: auto;
  position: relative;
  border: 1px solid var(--sec-hover);
  border-radius: 15px;
  background: var(--linear-2);
  transition: var(--transition-1);
  padding: 25px 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.spotlight-card .spotlight-title {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.spotlight-title h4 {
  color: var(--head-color);
  text-transform: capitalize;
}
.spotlight-title i,
.side-pro-card i,
.tool-card i,
.project-card i,
.write-card i {
  width: 25px;
  display: block;
  height: 25px;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  color: #fff;
  background: var(--linear-3);
  transition: var(--transition-3);
  opacity: 0;
  margin-right: 30px;
  max-width: 100%;
}

.side-pro-card i {
  margin-right: 0px;
  opacity: 1;
  background: var(--secondary-color);
  color: var(--p-color-white);
  border: 1px solid var(--control-sun);
}
.spotlight-card:hover i {
  margin-right: 0;
  opacity: 1;
}
.spotlight-card:hover {
  margin-top: -5px;
  background: var(--ml-lg);
}
.spotlight-title img {
  width: 50px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--p-text-grey);
}
.spotlight-card .font-16 {
  color: var(--p-txt-color);
  text-align: justify;
  word-spacing: -1px;
  max-width: 100%;
  position: relative;
}
.spotlight-card .font-16::after {
  position: absolute;
  content: "";
  bottom: -35px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--p-text-grey);
  border-radius: 10px;
}
.spot-foot {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.spot-foot p {
  color: var(--p-text-grey);
}

/* =====================project=========================== */
#side-project {
  margin-top: -5px;
}
.side-pro-container {
  max-width: 100%;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  transition: var(--transition-2);
}
.side-pro-container .side-pro-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: var(--transition-2);
  padding: 8px 15px;
  cursor: pointer;
}
.side-pro-card .side-pro-title {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.side-pro-title img {
  width: 45px;
  border-radius: 50%;
  height: 45px;
  filter: grayscale(100%);

  transition: var(--transition-1);
}
.tool-card img {
  width: 50px;
  border-radius: 10px;
  height: 50px;
  filter: grayscale(80%);

  transition: var(--transition-1);
}
.side-pro-card:hover img,
.tool-card:hover img {
  filter: grayscale(0);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.side-pro-title h3 {
  color: var(--p-txt-color);
  font-weight: 500;
  margin-left: 10px;
  max-width: 100%;
  transition: var(--transition-2);
}
.side-pro-card:hover h3 {
  margin-left: 20px;
}

/* =====================viladation=============== */

.valid-marque-truck .valid-card {
  width: 300px;
  border-radius: 20px;
  padding: 25px;
  transition: var(--transition-2);
  display: flex;
  flex-direction: column;
  gap: 25px;

  height: 300px;
  background: var(--c1-color);
  margin-right: 20px;
  border-bottom: 1px solid var(--p-txt-color);
  border-right: 1px solid var(--p-txt-color);
  border-top: 1px solid var(--p-text-grey);
  border-left: 1px solid var(--p-text-grey);

  z-index: 1;
}
.valid-card .valid-info {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 40px;
  padding: 5px 8px;
  border-radius: 20px;
}
.valid-card .font-16 {
  color: var(--p-color-white);
  line-height: 22px;
  font-weight: 400;
}
.valid-info .font-18 {
  color: var(--head-color);
  text-transform: capitalize;
}
.valid-info img {
  width: 50px;
}

/* =====================tools=============== */
.tool-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  transition: var(--transition-2);
  position: relative;
  background: transparent;
}
.tool-container .tool-card {
  width: 100%;
  position: relative;
  height: auto;
  background: var(--c1-color);
  max-width: 100%;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid var(--p-text-grey);
  transition: var(--transition-2);
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  gap: 15px;
}
.tool-card i {
  opacity: 0;
  margin-right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15%;
}
.tool-card:hover {
  box-shadow: rgba(41, 42, 43, 0.2) 0px 8px 24px;
}
.tool-card:hover i {
  right: 10%;
  opacity: 1;
}
.tool-card .font-18 {
  max-width: 100%;
  color: var(--head-color);
  font-weight: 500;
  text-transform: capitalize;
}

/* ==================================fotter==============  */
#footer .font-16 {
  padding: 5px 15px;
  color: var(--p-txt-color);
  text-align: left;
}
.footer-form {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  transition: var(--transition-1);
  padding: 5px 15px;
  gap: 20px;
}
.footer-form input {
  padding: 20px 30px;
  background: transparent;
  border: 1px solid var(--c1-color);
  outline: 0;
  border-radius: 15px;
  color: var(--head-color);
  font-size: var(--font-18);
}
.footer-form input:first-child {
  width: 100%;
  text-transform: lowercase;
}
.footer-form input::placeholder {
  text-transform: lowercase;
}
.footer-form input:last-child {
  width: 35%;
  background: var(--head-color);
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition-2);
}
.footer-form input:last-child:hover {
  opacity: 0.7;
}
.foot-social {
  max-width: 100%;
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: var(--transition-1);
}
.foot-social::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: var(--c1-color);
  transition: var(--transition-3);
}
.foot-social::after {
  position: absolute;
  content: "";
  width: 150px;
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: var(--c1-color);
  transition: var(--transition-3);
}
.foot-social i {
  font-size: var(--font-h3);
  padding: 8px 15px;
  border: 1px solid var(--p-text-grey);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  opacity: 1;
  transition: var(--transition-2);
}
.foot-social i:hover {
  opacity: 0.8;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#footer .footer-last,
.about-footer .footer-last {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 100px auto 50px;
  gap: 10px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-last .f-cursor {
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  width: fit-content;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;

  transition: 0.2s ease-out;
  z-index: 9999;
}
.footer-last:hover .f-cursor {
  opacity: 1;
  max-width: 100%;
}
.f-cursor .f-img {
  width: 60px;
  opacity: 0.8;

  animation: wiggle 1s linear infinite;
}

.footer-last .signature {
  width: 100px;
  height: 50px;
  border-radius: 100%;
  background: #ffffff8c;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.footer-last span {
  text-transform: capitalize;
  text-align: center;
}
.footer-last span:first-child {
  color: var(--head-color);
}
.footer-last span:last-child {
  color: var(--p-text-grey);
}

/* <!-- =================================================
    --------------project-html start here------------------
    =================================================   --> */
#projectBody .project-container {
  max-width: 100%;
  margin-top: 35px;
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--transition-1);
}
.project-container .project-card {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition-1);
  gap: 25px;
  padding: 20px;
  position: relative;
  border: 1px solid var(--sec-hover);
  border-radius: 15px;
  background: var(--linear-2);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  cursor: pointer;
}
.project-card:hover {
  margin-top: -5px;
  background: var(--ml-lg);
}
.project-card img {
  width: 220px;
  object-fit: cover;
  max-width: 100%;
  border-radius: 10px;
  border: 1px solid var(--p-text-grey);
  transition: var(--transition-3);
}
.project-card .project-card-info {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 0 20px 0 0;
  transition: var(--transition-1);
}
.project-card-info .font-18 {
  color: var(--p-color-white);
  font-weight: 600;
}
.project-card-info .font16 {
  color: var(--p-txt-color);
  text-align: left;
  font-size: var(--font-16);
}
.project-card-info .font-14 {
  color: var(--p-text-grey);
  font-weight: 500;
  margin-top: 10px;
}
.project-card i,
.write-card i {
  opacity: 0;
  margin-right: 0;
  position: absolute;
  top: 18%;

  right: 10%;
}
.write-card i {
  opacity: 1;
  top: 8%;
}
.project-card:hover i {
  right: 5%;
  opacity: 1;
}

/* <!-- =================================================
    --------------shop-html start here------------------
    =================================================   --> */

.shop-container,
.write-container,
.write-container2,
.book-container,
.song-container {
  max-width: 100%;
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  transition: var(--transition-1);
  position: relative;
}
.shop-container .shop-card,
.write-container .write-card,
.write-container2 .write-card {
  width: 100%;
  max-width: 100%;
  height: auto;
  position: relative;
  border: 1px solid var(--sec-hover);
  border-radius: 15px;
  background: var(--linear-2);

  transition: var(--transition-1);

  cursor: pointer;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.shop-card:hover,
.write-card:hover {
  background: var(--ml-lg);

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.shop-card .shop-img {
  padding: 1px;
  border-radius: 15px 15px 0 0;
  height: 170px;
  overflow: hidden;
  transition: var(--transition-3);
}
.shop-card:hover {
  margin-top: -2px;
}
.shop-img img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 100%;
  transition: 2s ease;
}
.shop-img:hover img {
  transform: scale(1.1);
}
.shop-card .shop-info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 5px 20px 20px;
  transition: var(--transition-1);
}
.shop-info .shop-title {
  max-width: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  transition: var(--transition-1);
}
.shop-title .font-18 {
  color: var(--p-color-white);
  font-weight: 500;
}
.shop-info .font-14 {
  color: var(--p-txt-color);
  margin-bottom: 20px;
  line-height: 22px;
}
.shop-info i {
  width: 25px;
  display: block;
  height: 25px;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  color: #fff;
  background: var(--linear-3);
  transition: var(--transition-3);

  max-width: 100%;
}

#shopBody a {
  max-width: 100%;

  margin: 40px auto;

  text-align: center;
  width: fit-content;
  padding: 10px 25px;
  color: var(--primary-color);
  border-radius: 15px;
  font-size: var(--font-14);
  font-weight: 600;
  border: 1px solid transparent;
  background: var(--p-color-white);
  transition: var(--transition-2);
}
#shopBody a:hover {
  opacity: 0.8;
}

/* ---shop Modal---   */
#sc-body {
  position: relative;
  padding: 20px;
  border-radius: 20px;

  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10% 0;
  gap: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: var(--transition-1);
}
#sc-body img {
  width: 100%;
  height: 300px;
  margin: 2% 0;
  border-radius: 30px;
}
#sc-body h2 {
  padding: 2px 5px;
  max-width: 100%;
  color: var(--head-color);
}
#sc-body .sc-rating {
  max-width: 100%;
  padding: 0 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.sc-rating .font-18 {
  color: var(--p-color-white);
  opacity: 0.9;
  font-weight: 600;
  display: flex;
  gap: 5px;
}
.sc-rating .sc-line {
  width: 2px;
  height: 20px;
  background: var(--head-color);
}
.font-18 i {
  color: var(--yellow-txt);
}
.sc-container {
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 5%;
}
.sc-container .sc-card {
  width: 100%;
  padding: 30px 25px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: 1px solid var(--c1-color);
}
.sc-card h4 {
  text-align: center;
  font-size: var(--font-h2);
}
.sc-card p {
  color: var(--p-txt-color);
  text-transform: capitalize;
}
.sc-licence {
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: var(--transition-2);
}
.wc-modal-content {
  position: relative;
}
.sc-licence p {
  color: var(--head-color);
  opacity: 0.8;
  text-transform: capitalize;
  transition: var(--transition-2);
}
.sc-licence:hover p {
  color: var(--head-color);
  opacity: 1;
}
.sc-licence i {
  font-size: var(--font-h3);
}
.sc-buttons {
  max-width: 100%;
  width: 100%;
  margin: 10% auto 0;
  justify-content: center;
  align-items: center;

  display: flex;
  gap: 15px;
  z-index: 100;
}

.buy-btn,
.pre-btn {
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 600;
  transition: var(--transition-2);
}

.buy-btn {
  background: var(--linear-2);
  border: 1px solid var(--head-color);
}
.pre-btn {
  background: var(--head-color);
  color: var(--primary-color);
}
.buy-btn:hover,
.pre-btn:hover {
  margin-top: -3px;
  opacity: 0.8;
  box-shadow: rgba(105, 105, 107, 0.2) 0px 7px 10px 0px;
}

/* ============----writing-----============== */
.write-container {
  padding: 0 15px;
  margin-bottom: 2%;
}
.write-container2 {
  margin: 20% auto;
  display: none;
  opacity: 0;
  padding: 0 15px;
  transition: var(--transition-2);
  animation: fadeed 0.5s ease-in-out;
}
.write-container .write-card,
.write-container2 .write-card {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.write-card .font-14 {
  color: var(--p-txt-color);
  text-transform: capitalize;
  margin-top: 5px;
}
.write-card .font-18 {
  font-weight: 500;
  color: var(--head-color);
}
.write-card .font16 {
  font-size: var(--font-16);
  color: var(--p-color-white);
  font-weight: 300;
  text-align: left;
}
.write-more-btn {
  background: var(--head-color);
  color: var(--primary-color);
  padding: 8px 15px;
  border-radius: 10px;

  margin: 8% auto 2%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  cursor: pointer;
  font-size: var(--font-14);
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-1);
}
.write-more-btn:hover {
  opacity: 0.8;
}

/* -----------------modal----------------- */
.wc-modal {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  overflow: auto;
  background: var(--primary-color);

  animation: fadeed 0.5s ease-in-out;
  transition: var(--transition-2);
}
.wc-modal::-webkit-scrollbar {
  width: 0;
}
.wc-modal .wc-modal-content {
  max-width: 100%;
  margin: 10% auto;
  width: 50%;
  border: 1px solid var(--filter);
}
.wc-modal-btn,
.framer-back {
  display: flex;
  margin: 5% 0;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.wc-modal-btn i,
.framer-back i {
  padding: 5px;
  font-size: var(--font-18);
  background: var(--c1-color);
  border-radius: 50%;
  color: var(--head-color);
  margin-top: 5px;
  cursor: pointer;
  transition: var(--transition-1);
}
.wc-modal-btn i:hover,
.framer-back i:hover {
  opacity: 0.8;
}
.wc-modal-btn .font-18,
.framer-back .font-18 {
  font-weight: 600;
  text-transform: capitalize;
  color: var(--p-txt-color);
}
#wc-body {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 20px 30px;
  background-image: url(https://framerusercontent.com/images/G7ngWNJJehVsOK51XLyJRWjIsBA.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border: 1px solid var(--c1-color);
  border-radius: 15px;
  position: relative;
  transition: var(--transition-2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#wc-body::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--filter);
  backdrop-filter: blur(1px);
  z-index: -1;
}
.wc-body-title {
  max-width: 100%;
  display: flex;
  margin: 2% 0 1%;
  gap: 15px;
}
.wc-body-title p {
  text-transform: capitalize;
  color: var(--p-text-grey);
  font-weight: 500;
}
#wc-body h3 {
  line-height: 30px;
  color: var(--head-color);
}
#wc-body img {
  width: 80px;
  background: #ffffffb0;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(252, 248, 248, 0.856) 0px 30px 60px -30px,
    rgba(248, 251, 255, 0.404) 0px -2px 6px 0px inset;
  height: 50px;
  border-radius: 100%;
  margin: 10% 0 3%;
}

#wc-body .font-16 {
  color: var(--p-txt-color);
}

/* ============----book self-----============== */
.book-container {
  padding: 15px;
}
.book-container .book-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  padding: 15px;
  max-width: 100%;
  height: auto;
  position: relative;
  border: 1px solid var(--sec-hover);
  border-radius: 15px;
  background: var(--linear-2);
  transition: var(--transition-2);
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.book-card:hover {
  margin-top: -1px;
  background: var(--ml-lg);
}
.book-card .book-img {
  width: 80%;
  height: 150px;
  position: relative;
  transition: var(--transition-2);
  background: transparent;
  border-radius: 2px;
}
.book-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;

  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition-2);
}
.book-card:hover .book-img {
  background: #fff;
  border: 1px solid #000;
}
.book-card:hover img {
  top: -1px;
  left: -3px;
  border: 1px solid #000;
}
.book-card .book-info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.book-info span {
  max-width: 100%;
  background: var(--green);
  color: var(--green-txt);
  padding: 7px 15px;
  border-radius: 5px;
  font-size: var(--font-14);
}
.book-info .font-18 {
  line-height: 20px;
  color: var(--p-color-white);
}
.book-info .font-14 {
  width: 100%;
  word-spacing: -1px;
  color: var(--p-txt-color);
}
.book-info span.book-read {
  background: var(--yellow);
  color: var(--yellow-txt);
}

/* ============----song-----============== */
.song-container {
  padding: 0 15px;
}
.song-container .song-card {
  background: red;
  width: 100%;
  height: auto;
  transition: var(--transition-3);
  padding: 15px;
  position: relative;
  border: 1px solid var(--sec-hover);
  border-radius: 15px;
  background: transparent;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.song-card .songImg {
  width: 70%;
  border-radius: 5px;
  z-index: 2;
  transition: var(--transition-3);
}
.song-card .songDisc {
  width: 70%;
  position: absolute;
  z-index: -1;
  top: 10px;
  right: 0;
  transition: var(--transition-1);
}
.song-card:hover .songImg {
  margin-left: 10px;
}
.song-card:hover .songDisc {
  right: 22%;
  animation: discRotate 0.5s ease-in-out;
  transform: rotate(-45deg);
  transition: var(--transition-3);
}

@keyframes discRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.song-card:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  border: 1px dashed var(--head-color);
}
.song-card:last-child img {
  display: none;
}
.song-card span {
  font-size: 40px;
  color: var(--head-color);
  display: block;
}
.song-card .font-18 {
  text-transform: capitalize;
  color: var(--head-color);
}

/* ============----toolastack-----============== */
#tool .toolstack {
  padding: 0 15px;
}
.othersTools {
  max-width: 100%;
  width: 100%;
  padding: 15px;
}
.otherTools-container {
  width: 100%;
  max-width: 100%;
  margin-top: 25px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  transition: var(--transition-2);
  position: relative;
}
.otherTools-img {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  padding: 1px;
  border: 1px solid var(--c1-color);

  transition: var(--transition-2);
}
.otherTools-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;

  transition: var(--transition-2);
}
.otherTools-img:hover img {
  transform: scale(1.02);
  box-shadow: rgba(42, 42, 43, 0.2) 0px 8px 24px;
}
.tools-badge {
  position: absolute;
  top: -40px;
  left: 40%;
  transform: translateX(-50%);
  width: 100%;
  padding: 8px 15px;
  font-size: 12px;
  text-align: center;
  background: var(--primary-color);

  text-transform: capitalize;
  border-radius: 10px;

  z-index: 2;
  opacity: 0;
  transition: var(--transition-3);
}
.otherTools-img:hover .tools-badge {
  opacity: 0.9;
  border: 1px solid var(--head-color);
}
.tools-badge::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 50%;

  transform: translateX(-50%) rotate(45deg);
  background: var(--primary-color);

  opacity: 0.9;
  border-top: 1px solid transparent;
  border-right: 1px solid var(--head-color);
  border-left: 1px solid transparent;
  border-bottom: 1px solid var(--head-color);
  z-index: 1;
  width: 10px;
  height: 10px;
}
/* ============----aabout-----============== */
#aboutBody .status {
  padding: 20px 0;
  margin-top: 20px;
  color: var(--p-txt-color);
  line-height: 1.8;
  font-weight: 600;
}

.status span {
  margin-right: 8px;
  font-size: var(--font-h2);
  color: var(--p-txt-color);
}
.status .st {
  display: flex;
}

.status img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  height: 30px;
  padding: 2px;
  background: var(--head-color);
  border-radius: 50%;
  cursor: pointer;
}
.company-list img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 6px;

  display: flex;
}
.about-hero {
  margin-top: 25px;
  position: relative;
  max-width: 100%;
  width: 100%;
  transition: var(--transition-2);
}
.about-hero .about-photo {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.about-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
  transition: var(--transition-2);
}
.about-photo .img1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: var(--transition-2);
}
.about-photo .img2 {
  opacity: 0;
  transition: var(--transition-2);
}
.about-photo:hover .img1 {
  opacity: 0;
}
.about-photo:hover .img2 {
  opacity: 1;
}
.about-hero .font-16 {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  width: fit-content;
  background: #e0dede31;
  border-radius: 12px;
  backdrop-filter: blur(2px);
}

.about-card-container {
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}
.about-card-container .about-card {
  width: 100%;
  height: 220px;
  position: relative;
  overflow: hidden;
  transition: var(--transition-2);
  border-radius: 15px;
  cursor: pointer;
}
.about-card img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: 4s ease;
  filter: grayscale(100%);
  transform: scale(1);
}
.about-card:hover img {
  filter: grayscale(0);
  transform: scale(1.2);
}

/* ============----linkbody-----============== */
.link-hero {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.link-hero h2 {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.link-hero .link-card {
  width: 100%;
  max-width: 100%;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.link-card .font-16,
.link-content .font-16 {
  color: var(--p-txt-color);
  text-transform: capitalize;
  font-weight: 500;
}
.link-card .f16 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--c1-color);
}
.link-hero .link-content {
  max-width: 100%;
  width: 100%;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.link-content img {
  width: 30px;
  height: 30px;
  margin: 0 2px;
  border-radius: 50%;
}
.about-footer {
  padding: 5% 15px 2%;
}

/* ============---journey----============== */
.journey-info {
  max-width: 100%;
  width: 100%;
  padding: 20px;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 25px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.journey-info .font-18 {
  max-width: 100%;
  text-align: left;
  color: var(--p-color-white);
  font-weight: 500;
}
.journey-info .font-14 {
  margin: 5px 0;
  color: var(--p-txt-color);
  opacity: 0.9;
}
.journey-info .info-card {
  max-width: 100%;
  width: 100%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  position: relative;
  transition: var(--transition-1);
}
.info-card .info-img {
  width: 100%;
  height: 220px;
}
.info-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  border: 1px solid var(--head-color);
}
.journey-info .font-16 {
  color: var(--p-txt-color);
  margin-top: 25px;
}
.j-info-img {
  margin: 5% 0;
  border-radius: 15px;
  width: 100%;
  height: 300px;
}

/* <!-- =============================================
    ----==============framerBody start here==============----
    ============================================= --> */

#framerBody {
  position: relative;
  margin-top: 10%;
}
#framerBody h2 {
  padding: 5px;
}
.slider-container-three {
  width: 100%;
  max-width: 100%;
  height: 55vh;
  position: relative;
  margin-top: 30px;

  padding: 0;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 20px;
}
.slider-container-three .slide-three {
  width: 100%;
  max-width: 100%;
  height: calc(100% - 30px);
  position: relative;
  overflow: hidden;
  background-color: var(--primary-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.slide-three img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.slide-three img:not(.active) {
  top: 0;
  left: -100%;
}
.slider-container-three .f-dots {
  position: absolute;
  max-width: 100%;

  border-radius: 50px;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff11;
  z-index: 2;
  padding: 5px 7px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
}
.slider-container-three .f-dots .dot {
  width: 12px;
  height: 12px;
  border: 1px solid rgba(168, 161, 161, 0.637);
  border-radius: 50%;
  margin: 2px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot.active {
  background: #fff;
}
@keyframes next1 {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes next2 {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes prev1 {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes prev2 {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.view-btn {
  background: var(--c1-color);
  border: 1px solid var(--p-text-grey);
  padding: 15px 30px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: 100%;
  width: fit-content;
  margin: 0 auto;
  transition: var(--transition-1);
}
.view-btn i {
  color: var(--yellow-txt);
  transform: rotate(-45deg);

  font-size: var(--font-h3);
  transition: var(--transition-2);
}
.view-btn:hover i {
  transform: rotate(0deg);
  color: var(--head-color);
}
.view-btn:hover {
  background: #fe8c07;
}
.view-btn p {
  color: var(--head-color);
  font-weight: 600;
}

.context-container {
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;

  transition: var(--transition-1);
}
.context-container .context-card:nth-child(1) {
  width: 70%;
}
.context-container .context-card:nth-child(2) {
  width: 30%;
}
.context-container .context-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.context-card .font-16 {
  font-weight: 600;
  color: var(--p-color-white);
  text-transform: capitalize;
}
.context-card .font-14 {
  color: var(--p-txt-color);
}
.context-card:nth-child(1) .font-14 {
  width: 80%;
  line-height: 22px;
}
.core {
  max-width: 100%;
  width: 90%;
  margin-top: 10%;
}
.core .font-18,
.statistics .font-18,
.sec-info .font-18,
.sec-c-info .font-18 {
  font-weight: 700;
  color: var(--p-color-white);
  margin-bottom: 15px;
}
.core ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}
.core ul li {
  list-style-type: disc;
}
.core ul li p {
  color: var(--p-txt-color);
}
.statistics {
  margin-top: 10%;
}
.statistics .font-16 {
  color: var(--p-txt-color);
  margin-bottom: 10px;
}
.sc-container .st-card {
  border: 1px solid var(--c1-color);
  padding: 25px;
  border-radius: 25px;
}
.st-card i,
.user-card i,
.data-card i {
  font-size: var(--font-h3);
  margin-bottom: 10px;
}
.st-card .font-14,
.user-card .font-14,
.sec-info .font-14,
.sec-c-info .font-14 {
  color: var(--p-txt-color);
}
.framer-img-card {
  max-width: 100%;
  width: 100%;
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.framer-img-card img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  transition: var(--transition-1);
  filter: grayscale(20%);
}
.framer-img-card img:hover {
  filter: grayscale(0);
}
.user-card {
  max-width: 100%;
  width: 100%;
  margin-top: 25px;
  border: 1px solid var(--c1-color);
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.user-card .font-18 {
  line-height: 20px;
}
.statistics .sc-licence {
  padding: 0;
  color: var(--p-txt-color);
}
.sc-img-card {
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 25px;
}
.sc-img-card img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}
.data-card {
  margin-top: 25px;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 22px;
  border: 1px solid var(--c1-color);
  border-radius: 25px;
}
.data-card .d-info {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.data-card .d-info .font-16 {
  color: var(--p-color-white);
  font-weight: 500;
}
.data-card .d-info .font-14 {
  color: var(--p-txt-color);
}
.sec-card {
  max-width: 100%;
  width: 100%;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sec-card img {
  width: 100%;
  height: 300px;
  border-radius: 25px;
}
.sec-card .sec-info {
  display: flex;
  flex-direction: column;
}

.sec-container {
  max-width: 100%;
  width: 100%;
  margin: 25% 0;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.sec-container .sec-container-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
.sec-container-card .sec-c-info {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}



/* <!-- =============================================
    ----==============contact main start here==============----
    ============================================= --> */
    #contactBody{
      position: relative;
      margin-top: 10%;
    }
    #contactBody .contact-title{
      max-width: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;
    }
    .contact-title h2{
      max-width: 100%;
      text-align: center;
      color: var(--head-color);
    }
    .contact-title p{
      font-size: var(--font-18);
      font-weight: 500;
      color: var(--p-txt-color);
      transition: var(--transition-2);
      transform: scale(1);
    }
    .contact-title:hover p{
      transform: scale(1.1);
      color: var(--head-color);

    }

    #contact-card{
      max-width: 100%;
      width: 90%;
      margin: 0 auto;
      margin-top: 10%;
      padding: 25px;
      border: 1px solid var(--c1-color);
      border-radius: 25px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    }

    form{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group label {
      display: block;
      font-size: var(--font-16);
      margin-bottom: 5px;
      opacity: 0.8;
      color: var(--p-color-white);
    }

    .form-group input,
    .form-group select,
    .form-group textarea {
      width: 100%;
      max-width: 100%;
      text-transform: lowercase;
      padding: 10px;
      border: 1px solid var(--c1-color);
      border-radius: 6px;
      background: var(--linear-2);
      color: var(--p-color-white);
      font-size: var(--font-14);
       font-family: "Inter", sans-serif;
      transition: border-color 0.3s;
      resize: none;
    }

    .form-group input:focus,
    .form-group select:focus,
    .form-group textarea:focus {
      border-color: var(--p-text-grey);
      outline: none;
      
    }

    .submit-btn {
      width: 100%;
      background: var(--p-color-white);
      color: var(--primary-color);
      border: none;
      padding: 12px;
      font-size: var(--font-18);
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .submit-btn:hover {
      opacity: 0.8;
    }

/* =======================responsive===============  */
@media (max-width: 1280px) {
  .foot-social::before,
  .foot-social::after {
    width: 100px;
  }
  :root {
    --font-h1: 1.9rem;
    --font-h2: 1.4rem;
    --font-h3: 1.3rem;

    --font-18: 1.1rem;
    --font-16: 0.95rem;
    --font-14: 0.85rem;
  }
}

@media (max-width: 1168px) {
  :root {
    --font-h1: 1.8rem;
    --font-h2: 1.35rem;
    --font-h3: 1.25rem;

    --font-18: 1.05rem;
    --font-16: 0.9rem;
    --font-14: 0.82rem;
  }
  .container {
    padding: 0.5% 6%;
    margin: 0 1%;
  }
  .head {
    left: -100%;
    transition: var(--transition-3);
  }
  #control {
    right: 15%;
    transition: var(--transition-3);
  }
  #control i {
    padding: 5px;
  }
  #menu {
    right: 11%;
  }
  main {
    margin-top: 5%;
  }
  .foot-social::before,
  .foot-social::after {
    width: 70px;
  }
  .footer-form {
    flex-direction: column;
    justify-content: center;
  }
  .shop-container,
  .write-container,
  .book-container,
  .song-container {
    grid-template-columns: 1fr;
  }
  .shop-card .shop-img {
    height: 200px;
  }
}
@media (max-width: 998px) {
  :root {
    --font-h1: 1.7rem;
    --font-h2: 1.25rem;
    --font-h3: 1.15rem;

    --font-18: 1rem;
    --font-16: 0.875rem;
    --font-14: 0.8rem;
  }
  .container {
    padding: 0.5% 5%;
    margin: 0 1%;
  }
  section {
    margin: 8% 10% 5%;
  }
  .foot-social::before,
  .foot-social::after {
    width: 100px;
  }
  .sc-img-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  :root {
    --font-h1: 1.5rem;
    --font-h2: 1.1rem;
    --font-h3: 1rem;

    --font-18: 0.95rem;
    --font-16: 0.85rem;
    --font-14: 0.75rem;
  }
  section {
    margin: 8% 5% 5%;
  }
  .container {
    padding: 0.5% 2%;
    margin: 0 1%;
  }
  #control {
    right: 18%;
  }
  .otherTools-container {
    grid-template-columns: repeat(5, 1fr);
  }
  #aboutBody .status {
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: var(--transition-2);
    margin: 10% 0;
  }
  .status img {
    margin-top: 0;
  }
  .journey-info .info-card {
    grid-template-columns: 1fr;
  }
  .sec-container .sec-container-card,
  .framer-img-card,
  .sc-img-card{
    grid-template-columns: 1fr;
  }
  .framer-img-card img{
     height: 100%;
  }
}
@media (max-width: 600px) {
  :root {
    --font-h1: 1.3rem;
    --font-h2: 1rem;
    --font-h3: 0.95rem;

    --font-18: 0.875rem;
    --font-16: 0.8rem;
    --font-14: 0.7rem;
  }
  section {
    margin: 8% 3% 5%;
  }
  .container {
    padding: 0.5% 1%;
    margin: 0 1%;
  }
  .tool-container {
    grid-template-columns: 1fr;
  }
  .foot-social::before,
  .foot-social::after {
    width: 50px;
  }
  .project-container .project-card {
    flex-direction: column;
  }
  .project-card img {
    width: 100%;
    height: 200px;
  }
  .about-card-container {
    grid-template-columns: 1fr;
  }
}
